---
layout: default
title: 日志
nav: arch
---
<h3>日志列表</h3>
<ul>
  {%for post in site.posts%}
  <li>
    <time>{{post.date|date:"%Y-%m-%d"}}</time>
    <h3><a href='{{post.url}}'>{{post.title}}</a></h3>
    {%for tag in post.tags%}
      <a href="#{{tag}}" class="tag">{{tag}}</a>
    {%endfor%}
  </li>
  {%endfor%}
</ul>

<h3>标签</h3>
<div id="tags">
  {%for tag in site.tags%}
    <a href="#{{tag[0]}}" class="tag">{{tag[0]}}</a>
  {%endfor%}
</div>

<ul>
  {%for tag in site.tags%}
    <li id='{{tag[0]}}'><strong>{{tag[0]}}</strong></li>
    <ul>
      {%for post in tag[1]%}
        <li>
          <time>{{post.date|date:"%Y-%m-%d"}}</time>
          <a href='{{post.url}}'>{{post.title}}</a>
        </li>
      {%endfor%}
    </ul>
  {%endfor%}
</ul>                                    
