---
layout: default
title: 日志
---
<ul>
  {%for post in site.posts%}
  <li>
    <a href='{{post.url}}'>{{post.title}}</a>
    <time>{{post.date|date:"%Y/%m/%d"}}</time>
  </li>
  {%endfor%}
</ul>

<ul>
  {%for tag in site.tags%}
  <li><a href="#{{tag[0]}}">{{tag[0]}}</a></li>
  {%endfor%}
</ul>

<ul>
  {%for tag in site.tags%}
  <li id='{{tag[0]}}'>
  <h3>{{tag[0]}}</h3>
  <ul>
    {%for post in tag[1]%}
    <li>
    <time>{{post.date|date:"%Y-%m-%d"}}</time>
    <a href='{{post.url}}'>{{post.title}}</a>
    </li>
    {%endfor%}
  </ul>
  </li>
  {%endfor%}
</ul>                                    
