body{margin:0;min-width:500px;}
a{text-decoration:none;}
nav{background:#333;padding:5px 0}
nav a{color:#999;font-size:20px;margin:0 5px;font-weight:bold}
nav a:hover{color:white;}
li h3{display:inline;}
article{margin:5px;}
a img{display:none}
li>p>a{font-weight:900;}
#content{margin:5px;}
.tag{display:inline;padding:0px 5px;background-color:greenyellow;border-radius:5px;}
