body {
  font-size:18px;
  background-color:#fbf0d9;
  max-width:600px;
}
article {
  color:#5b4636;
  line-height:1.6em;
}
footer {
  margin-top:1.6em;
}
time {
  font-style:italic;
}
summary {
  cursor:pointer;
  outline:0;
}
a>img {
  display:none;
}
