<!DOCTYPE html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="reqer.js"></script>
    <!--<link rel="stylesheet" href="bootstrap.css" />-->
  </head>
  <body>
    <form ng-controller="reqer" ng-submit="req()">
      <fieldset>
        <legend>Http Requester</legend>
        <div>
          <select ng-model="method" ng-options="m for m in methods"></select>
          <select ng-model="protocol" ng-options="p for p in protocols"></select>://
          <input type="text" ng-model="host"/>/
          <input type="text" ng-model="path"/>?
        </div>
        <div>
          <div class="param" ng-repeat="p in params">
            <input ng-model="p.key"/>:
            <input ng-model="p.value"/>
          </div>
          <span class="param">
            <input ng-model="key"/>:
            <input ng-model="value"/></span>
          <button ng-click="addParam()">add</button>
        </div>
        <input type="submit" value="{{method}} {{getUrl()}}"/>
        <hr />
        <div>{{cookie()}}</div> 
        <textarea rows="8" ng-model="res"></textarea>
      </fieldset>
    </form>
  </body>
</html>
