<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>
			{%if page.title%}{{page.title}}-{%endif%}且慢
		</title>
		<link rel='stylesheet' href='style.css' />
    {%if page.nav%}
      <style>#{{page.nav}}{color:white;}</style>
    {%endif%}
	</head>
	<body>
		<header>
			<nav>
			  <a href='/' id='main'>且慢</a>
				<a href='/archive.html' id='arch'>日志</a>
				<a href='/tag.html' id='tag'>标签</a>
			</nav>
		</header>
    <div>
      {{content}}
    </div>
		<footer></footer>
	</body>
</html>
