<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
    <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
    <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/66cf90a7-6a39-4981-8ba7-22b5f1fcc0f0">
		<title>
			{%if page.title%}{{page.title}}-{%endif%}且慢
		</title>
		<link rel='stylesheet' href='style.css' />
    {%if page.nav%}
      <style>#{{page.nav}}{color:white;}</style>
    {%endif%}
	</head>
	<body>
		<header>
			<nav>
			  <a href='/' id='main'>且慢</a>
				<a href='/archive.html' id='arch'>日志</a>
				<a href='/tag.html' id='tag'>标签</a>
        <a href='/resume.html' id='resume'>简历</a>
        <a href='/lab.html' id='lab'>杂货</a>
			</nav>
		</header>
    <div id='content'>
      {{content}}
    </div>
		<footer></footer>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd764d28cada8e1a7a6f120030c2faf6d' type='text/javascript'%3E%3C/script%3E"));
</script>
	</body>
</html>
