---
layout: default
---
<section>
  {%if page.date%}<time>{{page.date|date:"%Y-%m-%d"}}</time>{%endif%}
  <a href="/">#主页</a>
  {%for tag in page.tags%}
  <a href='/#{{tag}}'>#{{tag}}</a>
  {%endfor%}
</section>
<article>{{content}}</article>
<footer>
  <div class="ds-thread"></div>
  <script type="text/javascript">
    var duoshuoQuery = {short_name:"waksana"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
  <nav>
    {%if page.previous%}
    &lt;<a href="{{page.previous.url}}">{{page.previous.title}}</a>
    {%endif%}
    {%if page.next%}
    <a href="{{page.next.url}}">{{page.next.title}}</a>&gt;
    {%endif%}
  </nav>
</footer>
